.breadcrumbs-container {
  height: 45px;
  z-index: 88;
  position: fixed;
  width: 100%;
  top: 79px;
  background-color: #F5F5F5;

  .breadcrumb {
    padding: 0px;
    margin-top: 12px;
    list-style: none;
    border-radius: 4px;
    margin-bottom: 12px;
  }

  .breadcrumb > li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;

    &.breadcrumb-mobile {
      display: none;
    }
  }

  .breadcrumb > li:not(.breadcrumb-mobile) + li:before {
    padding: 0 0px 0 5px;
    color: #ccc;
    content: "\0203A";
  }

  .breadcrumb > .active {
    color: #777;
  }
}

@media only screen and (max-width: 568px) {
  .breadcrumb {
    li {
      &:not(:first-child):not(:last-child),
      &.breadcrumb-mobile ol,
      &.breadcrumb-mobile #breadcrumb-mobile-enabled {
        display: none;
      }
    }
  }

  .breadcrumbs-container {
    .breadcrumb {
      li {
        &.breadcrumb-mobile {
          display: inline-block;

          ol li,
          #breadcrumb-mobile-enabled:checked + label + ol {
            display: block;
          }

          ol {
            position: absolute;
            background: #FFF;
            padding: 8px 16px;
            border-radius: 3px;
            margin-top: 6px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          }

          label {
            color: #666;
            user-select: none;
          }
          #breadcrumb-mobile-enabled:checked + label{
            color: #CCC;
          }

          span.material-icons {
            font-size: 18px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}