@import '../../styles/general';


.list-header{
  display: flex;
  margin-bottom: 16px;

  &__prepends,
  &__appends{
    display: flex;
    align-items: center;
  }

  &.--has-prepends{
    .list-pager-container{
      margin-left: 16px;
    }
  }
  &.--has-appends{
    .list-pager-container{
      margin-right: 16px;
    }
  }
}

.list-pager-container{
  color:#999;
  margin-top:5px;
  margin-bottom: 0 !important;
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;

  .pagesize{
    select{
      color:#666;
      border:none;
      background-color: transparent;
    }
  }
}

.list-container{
  @include box_shadow(1);
  @include border_radius(3px);
  background-color: #FFFFFF;
  margin-bottom:40px;
  overflow-x: auto;

  @include sm-only{
    overflow-x: visible !important;
  }

  &.small{
    table{
      font-size:$smFont;
    }
  }

  table{
    width:100%;
    margin-bottom:0px;

    @include md {
      tr:nth-child(even) {
        background-color: #FAFAFA;
      }
      tr:hover {
        background-color: #f5f5f5;
        cursor: default;
      }
    }

    &.orderable{
        th{
          &:hover{
            cursor:pointer;
          }
          .order-icon {
            font-size: 20px;
            vertical-align: middle;
            opacity:0.4;
          }
          &[data-orders-table]{
            .order-icon{
              opacity:1;
            }
            .order-icon.bpod{
              color:#13017c;
            }
            .order-icon.adistec{
              color:$adistecBlue;
            }
          }
          &:hover{
            .order-icon{
              opacity:1;
            }
          }
      }
    }

    th{
      border: solid 1px #EEE;
      text-transform: uppercase;
      color: #666;
      text-align:left;
      font-size:13px;
      font-weight: 700;
      padding:10px 15px;
      border-left:none;
      border-right:none;
      background-color: #FFF;

      &.nowrap{
        white-space: nowrap;
      }

      &.percentage-container{
        padding-left:35px;
        white-space: nowrap;
      }

    }
    td {
      padding: 10px 15px;
      position:relative;

      @include md-only {
        width: 100%;
      }

      .sm-quantity-value,
      .sm-cell-value,
      .sm-only{
        display:none;
      }

      &.percentage-container{
        position:relative;
        padding-left:60px;

        var{
          color:$adistecBlue;
          border:solid 1px $adistecBlue;
          position: absolute;
          width: 40px;
          left: 14px;
          @include border_radius(3px);
          font-style: normal;
          text-align: center;

          &[data-percentage='0']{
            color:#999 !important;
            border-color:#999 !important;
          }
        }

        @include sm-only(){
          position:static;
          padding-left: 5px;

          var {
            left: 0px;
            position:relative;
          }
        }
      }

      &.prefix-container{
        .prefixed-amount{
          display:block;
          line-height: 25px;
          text-align:right;

          @include sm-only(){
            text-align:left;
          }

          &.small{
            font-size:$smFont;
            color:#999;
          }

          &:after{
            content:attr(data-prefix);
            color:#999;
            border:solid 1px #CCC;
            padding:0px 3px;
            margin-left: 4px;
            @include border_radius(3px);
          }
        }
      }

      &.imageList{
        font-size: 0px;
        text-align: center;

        &>div{
          white-space: nowrap;

          ul{
            width: 120px;

            li {
              float: left;
              width: 30px;
              padding: 0px;
              height: 30px;
              margin: 0px;
              position: relative;

              img{
                width: 30px;
                border-radius: 100px;
                border: 2px solid #fff;
                box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
                margin: 0 auto;
                display: inline-block;
                vertical-align: middle;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @include transitionAll();

                &+img{
                  margin-left: -10px;
                }
                &:hover{
                  width: 60px;
                  z-index: 10;
                }
              }
            }
          }
        }



      }

      .badge:not(.sm-only){
        width:100%;
        display:block;
        text-align:center;
      }

      p.subdata{
        font-size:$smFont;
        color:#999;
        margin-top: 3px;
        margin-bottom: 3px;
      }

    }

    @include sm-only{

      tbody{
        font-size:12px;
      }
      thead{
        display:none;
      }
      tr{
        position:relative;
        display: block;
        border-bottom: solid 1px #EEE;

        td:last-child {
          border-bottom: solid 10px #F5F5F5;
          overflow: visible;

          @include md-only {
            height: 50px;
            border-bottom: 0 !important;
          }

          &:after {
            content: "";
            height: 10px;
            background-color: #F5F5F5;
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: -1px;
            z-index: 9999;
            left: -1px;
            border-bottom: solid 1px #CCC;
            border-top: solid 1px #CCC;

            @include md-only {
              z-index: 0;
            }
          }
        }
      }
      tr:last-child{
        td:last-child {
          border-bottom: none;
          &:after {
            display:none;
          }
        }
      }

      td{
        display:block;
        padding:5px;
        text-align:left !important;
      }
      td:before{
        content:attr(data-column-title);
        color:#999;
        display:block;
      }
      td.sku-column{
        position:relative;
      }
      td.quantity-column,
      td.hideonsm-column{
        display:none;
      }
      td .sm-quantity-value,
      td .sm-cell-value{
        display: block;
        position: absolute;
        top: 6px;
        right: 8px;
        font-size: 12px;
        font-style: normal;
        color: #333;

        &[data-prefix]:before{
          //content:"\00d7";
          content:attr(data-prefix);
          padding-right:3px;
        }
      }
      td .badge.sm-only{
        display:block;
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }

    .nowrap{
      white-space: nowrap;
    }
    .align-center{
      text-align: center;
    }
    .align-right{
      text-align: right;
    }
  }
}

